a{
    color:white;
    text-decoration: none;
/*Subrayado animado*/
      background-image: linear-gradient(currentColor, currentColor);
       background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}