

//Variables de Color//
$bg-principal: rgb(62, 181, 149);
$bg-banner: rgba(170, 176, 181, 0.9);

//Variables de Tamaño de Texto//
$t-20: 20px;
$t-16: 16px;
$t-14: 14px;

//Variables de Colores//
$blanco: white;
$negro: black;

//Ancho Textos//
$bold: bold;
$normal: normal;

//Ajuste Imagenes//
$w-25: 25px;
$h-25: 25px;
$pr-4: 4px;
$pl: 4px;

.hr{
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
}